CLIENTE_RELATORIO_USER=cliente
CLIENTE_RELATORIO_PASSWORD=troque-essa-senha
VARIANTMIDIA_DASHBOARD_USER=variantmidia
VARIANTMIDIA_DASHBOARD_PASSWORD=troque-essa-senha
VARIANTMIDIA_DASHBOARD_SESSION_SECRET=troque-essa-chave-longa
