CLIENTE_RELATORIO_USER=cliente
CLIENTE_RELATORIO_PASSWORD=troque-essa-senha
VARIANTMIDIA_DASHBOARD_USER=variantmidia
VARIANTMIDIA_DASHBOARD_PASSWORD=troque-essa-senha
VARIANTMIDIA_DASHBOARD_SESSION_SECRET=troque-essa-chave-longa
META_ACCESS_TOKEN=token-com-ads-read
META_GRAPH_VERSION=v23.0
TAVORA_META_AD_ACCOUNT_ID=act_000000000000000
TAVORA_META_LEAD_ACTION_TYPES=lead,onsite_conversion.lead_grouped,offsite_conversion.fb_pixel_lead,onsite_conversion.messaging_conversation_started_7d,onsite_conversion.messaging_first_reply
